*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav{
  background: #1A374D;
  height: 80px;
  width: 100%;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,a:hover{
  background: #406882;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
section{
  background: url(bg.jpg) no-repeat;
  background-size: cover;
  height: calc(100vh - 80px);
}

.container{
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

.top-main {
  padding: 180px 0 100px 0;
  font-family:'Segoe UI', Arial, sans-serif;
  background-image: url('pizza1.jpg');
  background-size: cover;
  color: white;
  height: 563px;
  position: relative;
  background-position: 60% 8%;
}

.top-main p{
  font-size: 35px;
  margin-bottom: 0;
}

.top-main h1{
  font-size: 60px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.btn-menu{
  border-radius: 3px;
  color: white;
  display: inline-block;
  background-color: rgba(26, 55, 77, 0.7);
  padding: 10px 50px;
  border: 1px solid white;
  cursor: pointer;
  margin: 10px 0 10px 0;
  text-decoration: none;
}

.btn-menu:hover{
  background-color: rgb(64, 104, 130);
  color: rgb(255, 255, 255);
  transition: 0.3s;
}